

<center>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <%= image_tag(@record.img_small, width: '160', :class => "hide-on-small-device") %>
        </td>
        <td>
          <table class="table table-striped">
            <tr>
              <td class="row-title1">
                Titre
              </td>
              <td>
                <%= @record.nom.html_safe %>  
                <% if @record.nomoriginal != "" %> 
                <br> (<%= @record.nomoriginal %>) 
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="row-title1"> 
                Réalisateur
              </td>
              <td>
                <%= @record.realisateur.html_safe %>
              </td>
            </tr>
            <tr>
              <td class="row-title1">
                Acteur(s)
              </td>
              <td>
                <%= @record.acteur.html_safe %>
              </td>
            </tr>
            <tr>
              <td class="row-title1">
                Année
              </td>
              <td>
                <%= @record.annee %>
              </td>
            </tr>
            <tr>
              <td class="row-title1">
                Nationalité
              </td>
              <td>
                <%= @record.nationalite.html_safe %>
              </td>
            </tr>
            <tr>
              <td class="row-title1">
                Genre
              </td>
              <td>
                <%= @record.genre.html_safe %>
              </td>
            </tr>
            <tr>
              <td class="row-title1">
                Durée
              </td>
              <td>
                <%= @record.duree %>
              </td>
            </tr>
            <tr>
              <td class="row-title1">
                Synopsis
              </td>
              <td>
                <%= @record.resume.html_safe %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <center>
    <%= image_tag(@record.img_big, :class => "img-full-width") %>
  </center>
  <p>
    &nbsp;
  </p>
  <p>
    &nbsp;
  </p>
</center>







